# === Папки сборки и бинарники ===
build/
build-*/
*.so
*.o
*.a

venv/
.cache/
ground_truth_masks.json
plugin_masks.json

# Огромные данные
**/official_data/
**/benchmark_clips/
*.tar.gz

# === Настройки редакторов (Qt Creator и VS Code) ===
*.user
CMakeLists.txt.user
.vscode/

# === Тяжелые медиафайлы ===
*.mp3
*.wav
*.avi
*.mp4